pytest>=7.0
pytest-playwright>=0.4.3
pytest-html>=4.1.0
playwright>=1.32.0
allure-pytest>=2.13.0
requests>=2.31.0
httpx>=0.24.1
fastapi>=0.95.0
uvicorn>=0.22.0
jsonschema>=4.17.0
pytest-xdist>=3.3.1
pydantic>=1.10.0
pydantic[email]>=2.11.6
allure-pytest
pytest-rerunfailures
Faker
